<div class="col-md-14">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <a class="navbar-brand">Chat Messenger</a>

            <a class="navbar-right navbar-text">Signed in as [[userDetails.user.name]]</a>

            <a class="navbar-right navbar-text" data-ng-click="logout()">logout</a>


        </div>
    </nav>
</div>
<div class="col-md-4" style="min-height: 50px"><div class="anchorBadge" href="#" style="overflow-y: auto;font-family: 'Arimo', sans-serif" data-ng-repeat="location in locationData">[[location.name|| '']] <span class="badge">[[location.userCount]]</span></div></div>
<div class="chatBoxWidth col-md-8 panel panel-default">
    <div class="panel-body height443" style="overflow-y: auto">
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="message">
                <span class="input-group-btn">
                   <button class="btn btn-default" type="button" data-ng-click="send()">send</button>
                </span>
        </div>
    </div>
</div>
<div class="col-md-8" style="height: 500px">
</div>
